.fade-in-on-load {
  opacity: 0;
  will-change: transition;
  transition: opacity 0.5s ease-in;
}

.search {
  position: relative;
  display: inline-block;
}

.search-results {
  font-family: "Helvetica";
  display: none;
  background-color: #fff;
  position: absolute;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  font-size: 0.75em;
  z-index: 1;
}
.search-results a {
  font-family: "Helvetica";
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.search-results a:hover {
  font-family: "Helvetica";
  background-color: #ddd;
}

/* Font styles */

div.grid-content div.bg-secondary-bg div:last-child {
  font-family: "Helvetica";
}

.text-tertiary-text {
  font-family: "Helvetica";
}

div.my-2 div.content {
  font-family: "Helvetica";
}

/* Base styles */

.sticky-toc {
  @apply sticky z-0 ease-in-out duration-300;
  top: 8rem;
}

.sticky-toc a {
  @apply text-primary-text ease-in-out duration-200;
}

.sticky-toc a:hover {
  @apply text-eureka;
}

.sticky-toc ul {
  @apply text-base pl-8 list-disc;
}

.sticky-toc ol {
  @apply text-base pl-8 list-decimal;
}

.sticky-toc li + li {
  @apply mt-1;
}

.sticky-toc li > p + p {
  @apply mt-6;
}

.object-contain {
  object-fit: contain !important;
}

.pagination {
  @apply flex justify-center;
}

.pagination .page-item {
  @apply flex items-center p-2 m-2;
}

.pagination .page-item:not(.disabled):hover {
  @apply text-eureka;
}
.centeredImage-container {
  text-align: center;
  display: block;
  padding: 10px;
}

.centeredImage {
  display: inline;
  width: 350px;
}

#featuredImage {
  width: 450px !important;
}
