{{ $img := (.Resources.ByType "image").GetMatch "*featured*" }}
{{ with $img }}
<img src="{{ .RelPermalink }}" class="w-full" alt="Featured Image">
{{ end }}
{{ if .Params.featuredImage }}
{{ if or (hasPrefix .Params.featuredImage "http://") (hasPrefix .Params.featuredImage "https://") }}
{{ $img = .Params.featuredImage }}
{{ else }}
{{ $imgPath := path.Join "img" .Params.featuredImage }}
{{ $img = $imgPath | relURL }}
{{ end }}
<figure class="centeredImage-container">
  <img src="{{- $img -}}" class="centeredImage w-full fade-in-on-load" id="featuredImage" alt="Featured Image">
</figure>
{{ end }}
