<div class="flex flex-wrap flex-row items-center my-2 text-tertiary-text">
  {{ if .Params.showdate }}
    <div class="mr-4 my-2">
        <i class="fas fa-calendar"></i>
        <span>{{ dateFormat "Jan 2, 2006" .Date }}</span>
    </div>
  {{ end }}
    {{ if isset .Params "cooktime" }}
    <div class="mr-4 my-2">
        <i class="fas fa-clock"></i>
        <span>{{ .Params.cookTime }} minutes total </span>
    </div>
    {{ end }}
    {{ if isset .Params "preptime" }}
    <div class="mr-4 my-2">
        <i class="fas fa-user-clock"></i>
        <span>{{ .Params.preptime }} minutes active </span>
    </div>
    {{ end }}
    {{ if isset .Params "servings" }}
    <div class="mr-4 my-2">
        <i class="fas fa-utensils"></i>
        <span>{{ .Params.servings }} servings </span>
    </div>
    {{ end }}
    {{ $icon := .Params.icon }}
    {{ with .GetTerms "categories" }}
    <div class="mr-4 my-2">
      <i class="fa fa-{{ $icon }}" aria-hidden="true"></i>
      {{ range $index, $value := . }}{{ if $index }}, {{ end }}<a href="{{ .RelPermalink }}" class="hover:text-eureka">{{ .LinkTitle }}</a>{{ end }}
    </div>
    {{ end }}

    {{ with .GetTerms "series" }}
    <div class="mr-4 my-2">
        <i class="fas fa-th-list"></i>
        {{ range $index, $value := . }}
        {{ if gt $index 0 }}
        <span>,</span>
        {{ end -}}
        <a href="{{ .RelPermalink }}" class="hover:text-eureka">{{ .LinkTitle }}</a>
        {{ end }}
    </div>
    {{ end }}
</div>
