{{ define "main" }}
<div class="bg-secondary-bg text-center py-32" style="margin: 10px; padding: 10px;">
        <span class="text-3xl">This page doesn't exist!</span>
        <div col-start-2 col-span-4 row-start-3 row-span-2 bg-local bg-cover z-10 shadow-2xl></div>
        <img style="margin: 20px auto; width: 50%; box-shadow: 1px 3px 10px 0 grey" src="https://storage.googleapis.com/masamicooksimages/404.jpg" />
        <div>
          <span class="text-1xl">Try double checking the link. We also may have deleted this post.</span>
        </div>
        <div>
        </div>
    </div>
{{ end }}
