{{ define "main" }}
<div class="w-full bg-secondary-bg">
    <div class="container mx-auto">
        <div class="max-w-screen-xl">
            <div class="h-screen -mt-16" style="margin: 10px; background-image: url({{ printf "img/%s" .Site.Params.hero.landingImg | absURL }}); background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;" />
        </div> 

    </div>
</div>
<div class="container mx-auto ">
    <div class="max-w-screen-xl pt-12 md:px-4 xl:px-8">
        {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
        {{ partial "masonry" $pages }}
    </div>
</div>
{{ end }}
