{{ define "main" }}
<div class="w-full bg-secondary-bg">
    <div class="container mx-auto">
        <div class="max-w-screen-xl">
            <div class="grid grid-cols-12 grid-rows-5 h-screen -mt-16">
                <div class="col-start-2 col-span-5 row-start-2 row-span-3 bg-local bg-cover z-10 shadow-2xl"
                    style="background-image: url({{ printf "img/%s" .Site.Params.hero.imgLeft | absURL }});"></div>
                <div class="col-start-6 col-span-5 row-start-2 row-span-3 bg-local bg-cover z-10 shadow-2xl"
                    style="background-image: url({{ printf "img/%s" .Site.Params.hero.imgRight | absURL }});"></div>
            </div>
        </div> 

    </div>
</div>
<div class="container mx-auto ">
    <div class="max-w-screen-xl pt-12 md:px-4 xl:px-8">
        {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
        {{ partial "masonry" $pages }}
    </div>
</div>
{{ end }}
